<div class="col-md-12">
<div class="clearfix"></div>
                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation"
                              class="active">
                              <a href="#tab_content1" id="home-tab"
                                            role="tab" data-toggle="tab" 
                                            aria-expanded="true">
                              Visas
                              </a>
                          </li>
                        
                          
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          

                            {% include 'AppBundle:Edison:visas-anexadas-edison.html.twig' %}
                         
                           
                         

                    
                        </div>
                      </div>


                    </div>