<div class="col-md-12">
<div class="clearfix"></div>
                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Nacional</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Diplomático</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Oficial</a>
                          </li>
                          
                            <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Servicio</a>
                          </li>
           
                          
                          <li role="presentation" class=""><a href="#tab_content5" role="tab" id="profile-tab4" data-toggle="tab" aria-expanded="false">Documento de viaje para refugiado</a>
                          </li>
           
                          <li role="presentation" class=""><a href="#tab_content6" role="tab" id="profile-tab5" data-toggle="tab" aria-expanded="false">Provisional</a>
                          </li>
           
                          
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          

                            {% include 'AppBundle:Edison:pasaportes-nacionales-edison.html.twig' %}
                         
                            {% include 'AppBundle:Edison:pasaporte-diplomatico-edison.html.twig' %}
                         
                            {% include 'AppBundle:Edison:pasaporte-oficial-edison.html.twig' %}
                         
                            {% include 'AppBundle:Edison:servicio-edison.html.twig' %}
                            
                            {% include 'AppBundle:Edison:refugiado-edison.html.twig' %}
                         
                            {% include 'AppBundle:Edison:provisional-edison.html.twig' %}
                         

                    
                        </div>
                      </div>


                    </div>