<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <div class="product_gallery">
                                 <div class="galeria1">
                                {%set counter = 0%}
{%for m in documentos%}
    
    
    {% for s in m.nombrepasaporte%}
       
        {% if m.categoriapasaporteid.id == 1%}
        
         <a class="lozad" href="{{ asset('uploads/edison/pasaportes/' ~s)}}" data-lightbox="nacional">
                          <img src="{{ asset('uploads/edison/pasaportes/' ~s)}}" alt="..." height="55px;"/>
                        </a>
                        {%endif%}
     
        {%endfor%}


{%endfor%}
                       
                      </div> 
                      </div>
                          </div>
